.idea/
homework_12/.idea/
homework_12/phone_book/.idea/
homework_12/phone_book/utilities/__pycache__
homework_12/phone_book/__pycache__
homework_15/phone_book/utilities/__pycache__
homework_15/phone_book/__pycache__
